@import "tailwindcss";

.recover-link {
  color: var(--Red-500, #EF4444);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

body {
  font-family: 'Poppins', sans-serif;
}

.ProseMirror:focus {
    outline: none;
}

.input-search {
  border-radius: var(--Border-Radius-rounded-md, 6px 0px 0px 6px);
  border: 0.5px solid var(--Lime-500, #84CC16);
  background: var(--Slate-50, #F8FAFC);
}

.button-search {
  border-radius: 0px var(--Border-Radius-rounded-md, 6px) var(--Border-Radius-rounded-md, 6px) 0px;
  background: var(--Lime-500, #84CC16);
}

.flex-1-0-0 {
  flex: 1 0 0%;
}

.ProseMirror {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  color: #0f172a; /* slate-900 */
  padding: 0.5rem;
  min-height: 300px;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.ProseMirror h2 {
  font-size: 1.25rem;
  font-weight: 600;
}
.ProseMirror a {
  color: #3b82f6;
  text-decoration: underline;
}
